---
layout: master/base.njk
permalink: ocs/fursonas/rosecarter.html
title: Rose Carter | My characters | Nam Lemonade's Website
name: Rose Carter
thumb: images/ocs/rose-carter/rose-thumb.png
tags: ocFursona
pathToGoTo: ../../
---

<div class="col-12">
	<div class="content oc-page">
		<div class="content-content">
			<div class="text">
				<div class="mb-3">
					<a href="../fursonas.html"><i class="fas fa-arrow-left me-2"></i> Back to fursonas</a>
				</div>
				<div class="row align-items-center mb-5">
					<div class="col-12 col-lg-4 p-3">
						<div class="oc-block">
							<div class="glare"></div>
							<img class="img-bg" src="{{ pathToGoTo }}{{ thumb }}" alt="{{ name }}" />
						</div>
					</div>
					<div class="col-12 col-lg-8 p-3">
						<h2>Rose Carter</h2>
						<p>Robotic dolphin</p>
						<p>Genderfluid (They/Them)</p>
						<p>Age, if there is a need for this</p>
					</div>
				</div>
				
				<div>
					<div class="mb-5">
						<h2 class="mb-3">Reference sheet(s)</h2>
						<p>Click the images to see them in full view</p>
						<div class="row align-items-center">
							<div class="col-12 col-lg-4">
								<div class="image clickable-image box-shadow">
									<a data-lightbox="refsheets" class="link-overflow" data-title="Rose Carter naked reference sheet. Art by me." href="{{ pathToGoTo }}images/ocs/rose-carter/rose_ref_naked.png"></a>
									<img src="{{ pathToGoTo }}images/ocs/rose-carter/rose_ref_naked.png" alt="A reference sheet of Rose Carter, a blue and white dolphin with robotic parts.">
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<div class="image clickable-image box-shadow">
									<a data-lightbox="refsheets" class="link-overflow" data-title="Rose Carter with their Pink Dolphin outfit reference sheet. Art by me." href="{{ pathToGoTo }}images/ocs/rose-carter/rose_ref_outfit_pink_dolphin.png"></a>
									<img src="{{ pathToGoTo }}images/ocs/rose-carter/rose_ref_outfit_pink_dolphin.png" alt="A reference sheet of Rose Carter, a blue and white dolphin with robotic parts.">
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<div class="image clickable-image box-shadow">
									<a data-lightbox="refsheets" class="link-overflow" data-title="Rose Carter with their Chromakopia outfit reference sheet. Art by me." href="{{ pathToGoTo }}images/ocs/rose-carter/rose_ref_outfit_chromakopia.png"></a>
									<img src="{{ pathToGoTo }}images/ocs/rose-carter/rose_ref_outfit_chromakopia.png" alt="A reference sheet of Rose Carter, a blue and white dolphin with robotic parts.">
								</div>
							</div>
						</div>
					</div>
					<div class="mb-5">
						<h2>Description</h2>
						<p>Under construction...</p>
					</div>
					<div>
						<h2>Art gallery</h2>
						<p>Gallery of art done by other artists, commissioned or gifted. Won't contain all of the art of them ever. Click to view in full size!</p>

						<div class="row gallery-row">
							<div class="col-12 col-lg-3 p-3">
								<div class="image clickable-image ">
									<a data-lightbox="gallery" class="link-overflow" data-title="Art by neonbuck.bsky.social" href="{{ pathToGoTo }}images/ocs/rose-carter/rose-thumb.png"></a>
									<div class="glare"></div>
									<img class="img-bg" src="{{ pathToGoTo }}images/ocs/rose-carter/rose-thumb.png" alt="A headshot of Rose.">
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>