---
layout: master/base.njk
permalink: ocs/fursonas/rosecarter.html
title: Rose Carter | My characters | Nam Lemonade's Website
name: Rose Carter
thumb: images/ocs/rose-carter/rose-thumb.png
tags: ocFursona
pathToGoTo: ../../
---

<div class="col-12">
	<div class="content oc-page">
		<div class="content-content">
			<div class="text">
				<div class="mb-3">
					<a href="../fursonas.html"><i class="fas fa-arrow-left me-2"></i> Back to fursonas</a>
				</div>
				<div class="d-flex">
					<div class="oc-block me-5">
						<div class="glare"></div>
						<img class="img-bg" src="{{ pathToGoTo }}{{ thumb }}" alt="{{ name }}" />
					</div>
					<div>
						<h2>Rose Carter</h2>
						<p>Robotic dolphin</p>
						<p>Genderfluid (They/Them)</p>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>