---
layout: master/base.njk
permalink: index.html
contentPageClass: home
---

<div class="col-12 col-lg-9">
	<div class="content">
		<div class="cloud">
			<img class="land" src="images/cloud.png" alt="Cloud">
			<img class="sea" src="images/bubbles.png" alt="Bubbles">
		</div>
		<div class="pagedoll">
			<img class="land" src="images/polaroid-pagedoll.png" alt="Polaroid page doll">
			<img class="sea" src="images/reef-pagedoll.png" alt="Reef page doll">
		</div>
		<div class="content-content with-pagedoll">
			<div class="text">
				<h1>Welcome to my website!</h1>
				<p>Hey there! Welcome, or welcome back, to my website! I'm Nam Lemonade! First name Nam
					last name Lemonade. Others also call me Paprika but
					let's not dwell on this for too long. I'm a full stack web developper and a big
					yellow deer and technocetacean. I'm from Canada, speak both french and english, and besides coding, I
					draw and play video games!</p>
				<p>I started making websites on Neocities in around 2019, over at NAMCOnade. I changed
					my username at some point, and moved my stuff over here. I went thru 3 designs
					before landing here.</p>
				<p>If you want to see the old incarnations, look over to your right (or down below if
					you're on mobile). I uploaded all the previous websites on my GitHub in order to
					preserve them! I've really grown as a coder / programmer since my first website. But
					I think it's important to still archive them instead of hiding them because the Code
					is Bad.</p>
				<p>This website is still not finished, some pages might be missing, but I'm on a roll.
					I, hopefully, will have finished it by the end of 2023..! Let's just hope I actually
					go thru with it.</p>
				<p>This website was made for desktop first, but has been adapted for mobile devices as
					well!</p>
				<p>While you're here, won't you sign my <a
						href="http://users3.smartgb.com/g/g.php?a=s&i=g36-29855-9f"
						target="_blank">guestbook</a>?</p>
			</div>
			<div class="socials d-flex align-items-center flex-wrap mt-3">
				<div class="social-block">
					<a href="https://bsky.app/profile/nam.cervine.tech" target="_blank">
						<i class="fa-brands fa-bluesky"></i>
					</a>
				</div>
				{# <div class="social-block">
					<a href="https://cohost.org/NamLemonade">
						<i class="icon-cohost"></i>
					</a>
				</div> #}
				{# <div class="social-block bigger">
					<a href="https://tech.lgbt/@nam" target="_blank">
						<i class="fa-brands fa-mastodon"></i>
					</a>
				</div> #}
				{# <div class="social-block">
					<a href="https://spacehey.com/namconade" target="_blank">
						<i class="icon-spacehey"></i>
					</a>
				</div> #}
				<div class="social-block bigger">
					<a href="https://github.com/NamLemonade" target="_blank">
						<i class="fa-brands fa-github"></i>
					</a>
				</div>
				{# <div class="social-block bigger">
					<a href="https://twitter.com/NamLemonade" target="_blank">
						<i class="fa-brands fa-twitter"></i>
					</a>
				</div> #}
			</div>
			<div class="blinkies d-flex align-items-center flex-wrap mt-3">
				<div class="blinkie">
					<img src="images/blinkies/splatoon.gif"
						alt="Splatoon blinkie that says Team Player!">
				</div>
				<div class="blinkie">
					<img src="images/blinkies/they-it.gif" alt="Genderfluid blinkie that says They/It">
				</div>
				<div class="blinkie">
					<img src="images/blinkies/autism-peculiar.gif"
						alt="Blinkie that says Autism Peculiar">
				</div>
				<div class="blinkie">
					<img src="images/blinkies/powered-by-concerta.gif"
						alt="Blinkie that says Powered by Concerta">
				</div>
				<div class="blinkie">
					<img src="images/blinkies/pnf-404-syndrome.gif"
						alt="Blinkie that says PNF-404 syndrome">
				</div>
				<div class="blinkie">
					<img src="images/blinkies/git-commit.gif" alt="Blinkie that says git commit">
				</div>
			</div>
		</div>
	</div>

	<div class="content mt-5">
		<div class="content-content">
			<div class="text">
				<h1 class="land">Herd</h1>
				<h1 class="sea">Pod</h1>
				<div class="d-flex align-items-center flex-wrap">
					<a class="px-1" href="https://cavernofremembrance.neocities.org/"
						target="_blank"><img src="images/buttons/cavernofremembrance.gif"></a>
					<a class="px-1" href="https://mooeena.neocities.org" target="_blank"><img
							src="images/buttons/mooeena.png"></a>
					<a class="px-1" href="https://sertimus.xyz" target="_blank"><img
							src="images/buttons/sertimus.gif"></a>
					<a class="px-1" href="https://invalidvertex.com" target="_blank"><img
							src="images/buttons/button_iv.png"></a>

				</div>
			</div>
		</div>
	</div>

	<div class="content mt-5">
		<div class="content-content">
			<div class="text">
				<h1 class="land">Bleatbox</h1>
				<h1 class="sea">Echobox</h1>
				<p class="land">Come chat with cervidaes and ungulates alike! Or just come and say hi :)</p>
				<p class="sea">Come chat with dolphins and cetaceans alike! Or just come and say hi :)</p>
				<iframe src="https://www3.cbox.ws/box/?boxid=3532110&boxtag=ThDrna" width="100%"
					height="450" allowtransparency="yes" allow="autoplay" frameborder="0"
					marginheight="0" marginwidth="0" scrolling="auto"></iframe>
			</div>
		</div>
	</div>
</div>
<div class="col-12 col-lg-3">
	<div class="sidebar">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-12 p-3">
				<div class="block changelog">
					<div class="block-head">
						<p>Changelog</p>
					</div>
					<div class="block-content">
						{% for update in collections.updates | reverse %}
							<div class="inner">
								<div class="content d-flex py-1">
									<img class="land" src="{{ update.data.imageDeer }}" alt="{{ update.data.imageDeerAlt }}">
									<img class="sea" src="{{ update.data.imageDolphin }}" alt="{{ update.data.imageDolphinAlt }}">
									<p>
										<strong>{{ update.data.date.toISOString().split('T')[0] }}</strong>: {{ update.data.summary }}
									</p>
								</div>
								<hr>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-12 p-3">
				<div class="block website-archive">
					<div class="block-head">
						<p>Previous incarnations</p>
					</div>
					<div class="block-content">
						<div class="link d-flex py-1">
							<img src="images/dragonleft.gif" alt="Dragon looking to the left">
							<a href="https://namlemonade.github.io/namconade.neocities.org.V1/"
								target="_blank">
								NAMCOnade V1
							</a>
						</div>
						<div class="link d-flex py-1">
							<img src="images/sonicc.gif" alt="Sonic running">
							<a href="https://namlemonade.github.io/namconade.neocities.org.V2/"
								target="_blank">
								NAMCOnade V2
							</a>
						</div>
						<div class="link d-flex py-1">
							<img src="images/small-yellow-fawn.gif" alt="Small yellow fawn">
							<a href="https://namlemonade.github.io/namconade.neocities.org.V3/"
								target="_blank">
								NAMCOnade V3
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-12 p-3">
				<div class="block">
					<div class="block-head">
						<p>Furry Webring</p>
					</div>
					<div class="block-content">
						<div id='furryring'>
							<script type="text/javascript"
								src="https://furryring.neocities.org/onionring-variables.js"></script>
							<script type="text/javascript"
								src="https://furryring.neocities.org/onionring-widget.js"></script>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-12 p-3">
				<div class="block">
					<div class="block-head">
						<p>Add me to your websites</p>
					</div>
					<div class="block-content">
						<p class="mb-3">
							<small>Finally made a brand new button! Feel free to add it to your
								website!
								<br>Old one featuring my old website name made by Moo! Thanks
								again!</small>
						</p>
						<div class="d-flex align-items center">
							<a href="https://namlemonade.com/" target="_blank"><img
									alt="nam lemonade button" src="images/buttons/namlemonade.gif"></a>
							<a href="https://namlemonade.com/" target="_blank"><img
									alt="namconade button" src="images/buttons/namconade.gif"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-12 p-3">
				<div class="block">
					<div class="block-head">
						<p>Playlist</p>
					</div>
					<div class="block-content">
						<iframe style="border-radius:12px"
							src="https://open.spotify.com/embed/playlist/7LfK27TztE3qdUH2N8Kug3?utm_source=generator&theme=0"
							width="100%" height="152" frameBorder="0" allowfullscreen=""
							allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
							loading="lazy"></iframe>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-12 p-3">
				<div class="block ad">
					<div class="block-head">
						<p>Ads</p>
					</div>
					<div class="block-content">
						<iframe style="border:none"
							src="https://googol.neocities.org/neolink/embed.html"
							name="neolink"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>