---
layout: master/base.njk
permalink: ocs.html
title: My characters | Nam Lemonade's Website
---

<div class="col-12">
	<div class="content">
		<div class="content-content">
			<div class="text">
				<h1>My characters</h1>
				<p>My OCs and my fursonas. I do have a <a href="https://toyhou.se/NamLemonade" target="_blank">ToyHouse</a> account, but I'd rather also have a spot where I host my own reference sheets. I'll still use my ToyHouse account, but I want to have a spot on my website for them too.</p>

                <div class="ocs-folders-grid">
					<div class="oc-folder position-relative">
						<a href="ocs/fursonas.html" class="link-overflow"></a>
						<i class="fa-solid fa-folder-closed"></i>
						<i class="fa-solid fa-folder-open"></i>
						<span>Fursonas</span>
					</div>
					<div class="oc-folder position-relative">
						<a href="ocs/fursonas.html" class="link-overflow"></a>
						<i class="fa-solid fa-folder-closed"></i>
						<i class="fa-solid fa-folder-open"></i>
						<span>Pokémon</span>
					</div>
					<div class="oc-folder position-relative">
						<a href="ocs/fursonas.html" class="link-overflow"></a>
						<i class="fa-solid fa-folder-closed"></i>
						<i class="fa-solid fa-folder-open"></i>
						<span>Fandom OCs</span>
					</div>
					<div class="oc-folder position-relative">
						<a href="ocs/fursonas.html" class="link-overflow"></a>
						<i class="fa-solid fa-folder-closed"></i>
						<i class="fa-solid fa-folder-open"></i>
						<span>Cult of the Lamb</span>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>