@use 'sass:color';
$darkblue: #3d94ff;
$light: #fff;
$blue: #0360df;

html {
	&.theme-sea {
		/* Track */
		::-webkit-scrollbar-track {
			background: $light;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background-color: #0360df;
			background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background-color: #0360df;
			background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
		}
		a {
			color: rgb(72, 142, 255);
			&:hover {
				color: rgb(27, 87, 184);
			}
		}

		.accordion {
			.accordion-item {
				box-shadow: 0px 0px 7px rgba(33, 150, 243, 0.3);
				.accordion-header {
					.accordion-button {
						color: $blue;
						background-color: #0360df;
						background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
						box-shadow:
							inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
							0 1px 4px 1px rgba(17, 110, 231, 0.2),
							0 1px 4px 1px rgba(0, 0, 0, 0.1);
						text-shadow: 0 1px 1px #116ee7;
						color: $light;
						transition: transform 0.3s ease;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.blog-entry-block {
			background: $light;
			time {
				color: $darkblue;
			}
		}

		.blog-entry-content {
			time {
				color: $darkblue;
			}
		}

		.oc-folder {
			background: $light;
			color: $darkblue;
		}

		body {
			background-image: url('../images/aero-background.jpg');
			cursor: url('../images/cursor/Alternate.png'), auto;

			a {
				&:hover {
					cursor: url('../images/cursor/Link.png'), auto;
				}
			}

			p,
			ul li {
				color: $darkblue;
			}

			.btn {
				background-color: #0360df;
				background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
				box-shadow:
					inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
					0 1px 4px 1px rgba(17, 110, 231, 0.2),
					0 1px 4px 1px rgba(0, 0, 0, 0.1);
				text-shadow: 0 1px 1px #116ee7;
				color: $light;
				transition: transform 0.3s ease;

				&:hover,
				&:active {
					transform: scale(1.05);
					animation: unset;
					background-color: #0360df;
					background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
					box-shadow:
						inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
						0 1px 4px 1px rgba(17, 110, 231, 0.2),
						0 1px 4px 1px rgba(0, 0, 0, 0.1);
					text-shadow: 0 1px 1px #116ee7;
					color: $light;
					transition: transform 0.3s ease;
				}
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				background: linear-gradient(0deg, rgba(0, 98, 255, 1) 0%, rgba(166, 236, 255, 1) 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.rainbow-interests {
				p {
					&:nth-child(2n + 1) {
						color: rgb(40, 208, 255);
					}
					&:nth-child(2n + 2) {
						color: rgb(72, 142, 255);
					}
				}
			}

			table {
				tr {
					th {
						background-color: #0360df;
						background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
						box-shadow:
							inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
							0 1px 4px 1px rgba(17, 110, 231, 0.2),
							0 1px 4px 1px rgba(0, 0, 0, 0.1);
						text-shadow: 0 1px 1px #116ee7;
						color: $light;
						position: relative;
					}
					td {
						color: $darkblue;
						background: $light;
					}
				}
			}

			.title-website {
				.text {
					h1 {
						background: linear-gradient(0deg, rgba(0, 98, 255, 1) 0%, rgba(166, 236, 255, 1) 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					h3 {
						background: linear-gradient(0deg, rgba(0, 98, 255, 1) 0%, rgba(166, 236, 255, 1) 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;

						&.land {
							display: none;
						}
						&.sea {
							display: block;
						}
					}
				}

				img {
					&.land {
						display: none;
					}
					&.sea {
						display: block;
					}
				}
			}

			.navbar {
				.home-icon {
					.land {
						display: none;
					}
					.sea {
						display: block;
					}
				}
				.navbar-content {
					background: $light;

					.navbar-header {
						background-color: #0360df;
						background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
						box-shadow:
							inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
							0 1px 4px 1px rgba(17, 110, 231, 0.2),
							0 1px 4px 1px rgba(0, 0, 0, 0.1);
						text-shadow: 0 1px 1px #116ee7;
						color: $light;
						position: relative;

						p {
							color: $light;
						}
					}

					.navbar-links {
						.row {
							.col-auto {
								&.land {
									display: none;
								}
								&.sea {
									display: block;
								}
								a {
									color: rgb(72, 142, 255);
									&:hover {
										color: rgb(27, 87, 184);
									}
								}
							}
						}
					}
				}
			}

			.content-page {
				.sidebar {
					.block {
						background-color: #eff6ff;
						background-image: radial-gradient(75% 50% at 50% 0%, #ffffff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #dff0fb, transparent);
						box-shadow:
							inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
							0 1px 4px 1px rgba(17, 110, 231, 0.2),
							0 1px 4px 1px rgba(0, 0, 0, 0.1);

						&.changelog {
							.block-content {
								.inner {
									.content {
										img {
											&.land {
												display: none;
											}
											&.sea {
												display: block;
											}
										}
									}
								}
							}
						}

						.block-head {
							background-color: #0360df;
							background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
							box-shadow:
								inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
								0 1px 4px 1px rgba(17, 110, 231, 0.2),
								0 1px 4px 1px rgba(0, 0, 0, 0.1);
							text-shadow: 0 1px 1px #116ee7;
							color: $light;
							position: relative;

							p {
								color: $light;
							}
						}
					}
				}

				&.home {
					.cloud {
						.land {
							display: none;
						}
						.sea {
							display: block;
						}
					}
					.pagedoll {
						left: -65px;
						img:not(.sea) {
							display: none;
						}
						.sea {
							display: block;
						}
					}
					.content-content {
						.land,
						.green {
							display: none;
						}
						.sea {
							display: block;
						}
					}
				}

				.content-content {
					background-color: #eff6ff;
					background-image: radial-gradient(75% 50% at 50% 0%, #ffffff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #dff0fb, transparent);
					box-shadow:
						inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
						0 1px 4px 1px rgba(17, 110, 231, 0.2),
						0 1px 4px 1px rgba(0, 0, 0, 0.1);

					.block {
						background: $light;

						.block-head {
							background-color: #0360df;
							background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
							box-shadow:
								inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
								0 1px 4px 1px rgba(17, 110, 231, 0.2),
								0 1px 4px 1px rgba(0, 0, 0, 0.1);
							text-shadow: 0 1px 1px #116ee7;
							color: $light;
							position: relative;
							p {
								color: $light;
							}
						}
					}
				}
			}

			footer {
				.footer-curve {
					&.sea {
						display: block;
					}
					&.land {
						display: none;
					}
				}

				.button-switch-theme {
					img {
						&.sea {
							display: none;
						}
						&.land {
							display: block;
						}
					}
				}

				.footer-content {
					background: linear-gradient(#b8e8fc, #78b3cc);
				}
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	html {
		&.theme-sea {
			body {
				.content-page {
					&.home {
						.pagedoll {
							left: -90px;
						}
					}
				}
			}
		}
	}
}
