@use 'sass:color';
@use '_theme-land';
@use '_theme-sea';
@use '_theme-green';
/*Welcome to the CSS file!*/

/* Vars */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$base-font: 'Fredoka', sans-serif;
$second-font: 'Rubik', sans-serif;

/* Colors */
$light: #fff;
$dark: #2e2e2e;
$blue: #2196f3;
$darkblue: #2a1280;

/* Base schtuff */

.btn {
	border-radius: 30px;
	padding: 15px 30px;
	border: none;
	transition: none;

	&.big-btn {
		font-size: 18px;
		font-weight: 500;
	}

	&:hover {
		animation: slidebg 5s linear infinite;
	}
}

@keyframes slidebg {
	to {
		background-position: 20vw;
	}
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $light;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: $second-font;
	overflow-x: hidden;

	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}
img {
	width: 100%;
	box-sizing: inherit;
	max-width: 100%;
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font;
}
a {
	text-decoration: none;
	transition: color 0.3s ease;
	font-weight: 600;
}

p {
	line-height: 1.8em;

	&.caption {
		// color: $dark;
		font-size: 13px;
		text-align: center;
		margin-top: 10px;
	}
}

ul li {
	line-height: 1.8em;
}

.accordion {
	.accordion-item {
		border: none;
		.accordion-header {
			-webkit-background-clip: unset;
			-webkit-text-fill-color: unset;
			background: unset;

			.accordion-button {
				font-weight: 500;
				transition: all 0.3s ease;

				&:focus {
					box-shadow: unset;
				}
			}
		}
	}
}

.box-shadow {
	box-shadow: 0px 0px 7px rgba(33, 150, 243, 0.3);
}
.rainbow-border {
	&.border-radius {
		border-radius: 10px;
		overflow: hidden;
	}
}

table {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	tr {
		&:not(:last-child) {
			th {
				border-bottom: 1px solid $light;
			}
			td {
				border-bottom: 1px solid color.adjust($blue, $lightness: 35%);
			}
		}
		td,
		th {
			padding: 10px;
		}
		th {
			text-align: center;
		}
	}
}

.custom-tooltip {
	--bs-tooltip-bg: white;
	--bs-tooltip-color: $darkblue;
	--bs-tooltip-opacity: 1;
}

/* Title */
.title-website {
	.text {
		text-align: right;
		h1 {
			font-size: clamp(30px, 5vw, 100px);
			margin-bottom: 0;
			font-weight: 600;
		}
		h3 {
			margin-bottom: 0;
			font-size: clamp(20px, 5vw, 28px);
			color: white;
		}
	}
	img {
		width: 100%;
		margin-right: 30px;

		&.land {
			max-width: clamp(35px, 5vw, 55px);
		}
		&.sea {
			max-width: clamp(155px, 10vw, 230px);
		}
	}
}

/* Navbar */

.navbar {
	.home-icon {
		width: 100%;
		// max-width: 100px;
		max-width: clamp(70px, 12vw, 100px);
		margin-right: clamp(15px, 5vw, 30px);
		.menu-default-image {
			display: block;
		}
		.menu-hover-image {
			display: none;
			-webkit-animation: bounce 0.4s ease infinite alternate;
			animation: bounce 0.4s ease infinite alternate;
		}

		&:hover {
			.menu-default-image {
				display: none;
			}
			.menu-hover-image {
				display: block;
			}
		}

		@keyframes bounce {
			0% {
			}
			100% {
				transform: translateY(-5px);
			}
		}
		@-webkit-keyframes bounce {
			0% {
			}
			100% {
				transform: translateY(-5px);
			}
		}
	}
	.navbar-content {
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 0px 7px rgba($blue, 0.3);

		.navbar-header {
			padding: 5px;

			p {
				margin-bottom: 0;
				font-weight: 700;
				text-align: center;
			}
		}

		.navbar-links {
			padding: 5px;
			.row {
				.col-auto {
					a {
						font-weight: 500;
					}
				}
			}
		}
	}
}

.navbar.container .navbar {
	position: relative;
	background: $light;
	border-radius: 10px;

	&:before {
		position: absolute;
		content: '';
		left: -10px;
		height: 20px;
		width: 20px;
		background-color: $light;
		box-shadow: -2px -2px 8px -2px rgb(0 0 0 / 10%);
		display: inline-block;
		transform: rotate(45deg);
		z-index: -9999;
	}

	.navbar-nav {
		.nav-item {
			.nav-link {
				color: $darkblue;
				font-weight: 500;

				&:hover {
					color: $blue;
				}
			}
		}
	}
}

/* Home header */

.link-overflow {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
	z-index: 10;
}

.content-page {
	&.page-404 {
		.row {
			height: 100vh;
			min-height: 500px;
		}
		.content {
			.content-content {
				background: transparent;
				padding: 0;
				box-shadow: unset;
			}
			h1 {
				font-size: clamp(40px, 15vw, 100px);
			}
			p {
				font-weight: 600;
			}
		}
	}
	.sidebar {
		.block {
			border-radius: 10px;
			overflow: hidden;
			box-shadow: 0px 0px 7px rgba($blue, 0.3);
			height: 100%;
			&.changelog {
				.block-content {
					max-height: 250px;
					overflow-y: auto;

					img {
						max-width: 20px;
					}
				}
			}
			&.website-archive {
				.block-content {
					.link {
						img {
							max-width: 20px;
						}
					}
				}
			}
			&.ad {
				.block-content {
					iframe {
						width: 100%;
						max-width: 250px;
						height: 200px;
					}
				}
			}
			.block-head {
				padding: 5px;

				p {
					margin-bottom: 0;
					font-weight: 700;
					text-align: center;
				}
			}
			.block-content {
				padding: 10px;
				p {
					margin-bottom: 0;
				}
				img {
					width: unset;
					margin-right: 5px;
				}
			}
		}
	}
	.content {
		position: relative;

		.pagedoll {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			z-index: 5;

			max-height: 400px;
			height: 100%;

			// width: 100%;
			// max-width: 225px;

			animation: floatDoll 2.65s ease-in-out infinite alternate;
			-webkit-animation: floatDoll 2.65s ease-in-out infinite alternate;

			img {
				height: 100%;
				width: unset;
				// width: 100%;

				// filter: drop-shadow(0px 0px 5px rgba($darkblue, 0.3));
				filter: drop-shadow(0px 0px 7px rgba($blue, 0.3));
			}
		}

		.cloud {
			position: absolute;
			top: -20px;
			right: -20px;
			width: 100%;
			max-width: 150px;

			z-index: 5;

			animation: floatCloud 2.65s ease-in-out infinite alternate;
			-webkit-animation: floatCloud 2.65s ease-in-out infinite alternate;

			img {
				// filter: drop-shadow(0px 0px 5px rgba($darkblue, 0.3));
				filter: drop-shadow(0px 0px 7px rgba($blue, 0.3));
			}
		}

		.content-content {
			// min-height:calc(100vh - 110px);
			border-radius: 30px;

			// box-shadow: 0px 0px 15px rgba($darkblue, 0.3);
			box-shadow: 0px 0px 7px rgba($blue, 0.3);

			padding: 50px;

			&.with-pagedoll {
				width: 90%;
				margin-left: auto;
				margin-bottom: 15px;
				padding-top: 30px;
				padding-bottom: 30px;
				padding-left: 135px;
				padding-right: 100px;
			}

			.text {
				&.about {
					.image {
						max-width: 300px;
						margin-left: auto;
						margin-right: auto;

						img {
							border-radius: 10px;
						}
					}
				}

				&.polaroid {
					.image-name {
						.megatitle {
							font-size: clamp(35px, 8vw, 130px);
						}
					}
					.image {
						img {
							border-radius: 10px;
						}
					}
				}
			}

			.image {
				position: relative;

				.clickable-image {
					border-radius: 10px;
					overflow: hidden;

					&:hover {
						img {
							transform: scale(1.15);
						}
					}

					img {
						transition: transform 0.5s ease;
						border-radius: 0px;
					}
				}

				// &.with-lightbox {
				// 	&:hover {
				// 		img {
				// 			transform: scale(1.05);
				// 		}
				// 	}
				// }
				img {
					border-radius: 10px;
				}
			}

			.social-block {
				margin: 0 10px;

				&.bigger {
					a {
						font-size: 30px;
					}
				}

				a {
					text-decoration: none;
					color: $darkblue;
					font-size: 25px;
					transition: color 0.3s ease;

					&:hover {
						color: $blue;
					}
				}
			}

			.blinkies {
				.blinkie {
					margin: 10px;
				}
			}

			.block {
				border-radius: 10px;
				overflow: hidden;
				box-shadow: 0px 0px 7px rgba($blue, 0.3);
				height: 100%;

				.block-head {
					padding: 5px;

					p {
						margin-bottom: 0;
						font-weight: 700;
						text-align: center;
					}
				}
				.block-content {
					padding: 10px;
					p {
						margin-bottom: 0;
					}
					img {
						width: unset;
						margin-right: 5px;
					}
				}
			}
		}

		@keyframes floatDoll {
			0% {
				transform: translateY(-50%);
			}
			100% {
				transform: translateY(-52%);
			}
		}
		@-webkit-keyframes floatDoll {
			0% {
				transform: translateY(-50%);
			}
			100% {
				transform: translateY(-52%);
			}
		}

		@keyframes floatCloud {
			0% {
				transform: translateY(0px);
			}
			100% {
				transform: translateY(10px);
			}
		}
		@-webkit-keyframes floatCloud {
			0% {
				transform: translateY(0px);
			}
			100% {
				transform: translateY(10px);
			}
		}
	}
}

.form-group {
	position: relative;
	width: 100%;

	&.form-group-select {
		.inner-form-group {
			position: relative;
			width: 100%;

			.select2-container--default {
				width: 100% !important;
				font-size: 14px;

				box-sizing: border-box;
				display: inline-block;
				margin: 0;
				position: relative;
				vertical-align: middle;

				.selection {
					display: inline-block;
					position: relative;
					width: 100%;

					.select2-selection--single {
						height: auto;

						box-sizing: border-box;
						cursor: pointer;
						display: block;
						-moz-user-select: none;
						user-select: none;
						-webkit-user-select: none;

						&.color-result {
							.select2-selection__rendered {
								padding: 0px;

								> div {
									width: 100%;
									> div {
										padding: 20px;
									}
								}
							}
						}

						&.specie-result {
							.select2-selection__rendered {
								> div {
									.img-dragon {
										width: 30px;
										margin-right: 10px;
									}
								}
							}
						}

						.select2-selection__rendered {
							display: inline-flex;
							flex-wrap: wrap;
							font-size: clamp(16px, 2vw, 18px);
							justify-content: flex-start;
							overflow: hidden;
							padding: 20px;
							width: 100%;

							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.select2-selection__arrow {
							height: 26px;
							position: absolute;
							right: 15px;
							top: 50%;
							transform: translateY(-50%);
							width: 20px;
						}
					}
				}
			}
		}
	}

	input {
		background-color: #fff;
		border: 2px solid #fff;
		box-shadow: 0px 0px 7px rgba(33, 150, 243, 0.3);
		border-radius: 500px;
		color: #0d212d;
		font-size: 18px;
		outline: none;
		padding: 20px;
		transition: all 0.15s ease;
		width: 100%;

		&:focus,
		&.filled {
			~ label {
				font-size: 0.8em;
				transform: translateY(-17px);
			}
		}
	}

	label {
		bottom: 0;
		color: #0d212d;
		font-size: 19px;
		font-weight: 400;
		left: 0;
		line-height: 0.9em;
		padding: 25px 20px;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: all 0.15s ease;
	}
}

.select2-container--default {
	font-size: 14px;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;

	.select2-dropdown--below {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}

	.select2-dropdown--above {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	&.select2-container--open {
		&.select2-container--below {
			.select2-selection--single {
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;

				&.color-result {
					.select2-selection__rendered {
						border-top-left-radius: 20px;
						border-top-right-radius: 20px;

						border-bottom-left-radius: 0 !important;
						border-bottom-right-radius: 0 !important;
					}
				}
			}
		}
		&.select2-container--above {
			.select2-selection--single {
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;

				&.color-result {
					.select2-selection__rendered {
						border-bottom-left-radius: 20px;
						border-bottom-right-radius: 20px;

						border-top-left-radius: 0 !important;
						border-top-right-radius: 0 !important;
					}
				}
			}
		}
	}

	.select2-selection--single {
		border-radius: 500px;
		// overflow:hidden;
		border-color: transparent;

		box-shadow: 0px 0px 7px rgba(33, 150, 243, 0.3);

		&.color-result {
			.select2-selection__rendered {
				overflow: hidden;
				border-radius: 500px;
			}
		}
	}

	.select2-dropdown {
		background: #fff;
		border: 1px solid #fff;
		box-shadow: 0px 0px 7px rgba(33, 150, 243, 0.3);
		border-radius: 20px;
		overflow: hidden;
		transform: translate(0);
		box-sizing: border-box;
		display: block;
		position: absolute;
		z-index: 1051;

		&.color-dropdown {
			.select2-results {
				> .select2-results__options {
					li {
						padding: 0px !important;

						div {
							padding: 6px;
						}
					}
				}
			}
		}

		.select2-search {
			position: relative;
			display: block;
			padding: 4px;

			> input {
				background: rgba($blue, 0.2);
				border: 1px solid $blue;
				border-radius: 20px;
				outline-offset: 0;
				padding-left: 26px;
				box-sizing: border-box;
				padding: 4px;
				width: 100%;
			}
		}

		.select2-results {
			max-height: 400px;
			overflow-y: auto;
			padding: 0;
			display: block;

			> .select2-results__options {
				max-height: 200px;
				overflow-y: auto;

				li {
					color: #000;
					font-size: clamp(16px, 2vw, 18px);
					margin-top: 0;
					padding-left: 6px;
					transition: all 0.3s;

					&[aria-selected='true'] {
						color: #000;
						font-weight: 700;
					}

					&[aria-selected='true'] {
						background-color: color.adjust($blue, $lightness: 10%);
					}

					&.select2-results__option--highlighted {
						background: $blue;
						color: #f2f2f0;
					}

					.img-dragon {
						width: 30px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	.select2-results__option--selected {
		background: color.adjust($blue, $lightness: 30%);
	}
}

#breedingStats {
	hr {
		margin: 10px 0;
		border-color: $blue;
	}
	.parent-result-block {
		.primary-color,
		.secondary-color,
		.tertiary-color {
			.color-square {
				width: 15px;
				height: 15px;
				border: 1px solid #000;
			}
		}
	}

	.results-block {
		.colors-list {
			.color-square {
				width: 15px;
				height: 15px;
				border: 1px solid #000;
			}
		}
	}
}

.blog-entry-block {
	box-shadow: 0px 0px 7px rgba(33, 150, 243, 0.3);
	border-radius: 10px;
	padding: 15px;
	transition: transform 0.3s ease;
	margin-bottom: 30px;

	&:hover {
		transform: scale(1.01);
	}
	time {
		margin-bottom: 5px;
		display: block;
	}

	p {
		&.title {
			margin-bottom: 10px;
			font-size: 30px;
			font-weight: 500;
			font-family: $base-font;
			line-height: 1;
		}
		&.description {
			margin-bottom: 10px;
		}
	}
}

.blog-entry-content {
	time {
		margin-bottom: 5px;
		display: block;
	}
}

footer {
	margin-top: auto;
	.footer-curve {
		margin-top: 50px;
		margin-bottom: -1px;
		svg {
			overflow: hidden;
			vertical-align: bottom;
		}
	}

	.button-switch-theme {
		background: transparent;
		border: 0px;
		padding: 0px;
		img {
			height: unset;
			max-width: 88px;
		}
	}

	.footer-content {
		padding: 30px 0;

		.footer-text {
			p {
				color: $light;
				text-align: center;
				margin-bottom: 0;
				font-weight: 500;
			}

			.footer-button {
				max-width: 89px;
				margin-left: auto;
				margin-right: auto;
				img {
					width: 100%;
				}
			}
		}

		.counter {
			img {
				width: unset;
			}
		}
	}
}

/* Media queries */

@media only screen and (max-width: 991px) {
	.content-page {
		.content {
			.cloud {
				right: -60px;
			}
			.pagedoll {
				left: -25px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.content-page {
		.content {
			.pagedoll {
				left: -70px;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.content-page {
		.content {
			.pagedoll,
			.cloud {
				display: none;
			}
			.content-content {
				&.with-pagedoll {
					padding: 30px;
					width: 100%;
				}
				padding: 30px;
				width: 100%;
			}
		}
	}
}
